<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pruebas Angular</title>
  </head>
  <body>
    <div>
      <h1>{{ title }}</h1>
      <p>Nombre: {{ nombre }}</p>
      <p>Edad: {{ edad }}</p>
      <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
      <ng-template #menor><p>Es menor de edad</p></ng-template>
      <p>Email: {{ email }}</p>
      <br/>
      <table border="1px solid black;">
        <tr>
          <td><span>Sueldos</span></td>
        </tr>
        <tr *ngFor="let sueldo of sueldos">
          <td><span>{{sueldo}}</span></td>
        </tr>
      </table>

      <p *ng>{{ esActivo }}</p>
      <p>{{ sumaSueldos }}</p>
    </div>
    <div>
      <h2>Contador</h2>
      <h3>{{contador}}</h3>
      <button (click)="incrementar()">Aumentar</button>
      <button (click)="decrementar()">Decrementar</button>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
